:root {
    --color-primary:rgba(0, 0, 0, 0.1);
    --color-font-primary: #331F19;
    --color-background: #60041A;
    --color-background-neutral: #331F19;
    --color-font-button: #F4F0EA;
    --color-background-hover: #A34743;
    --color-border-primary:  #CBBBA7;
    --color-border-sec: #8B7D70;
    --color-box-shadow: rgba(96, 4, 26, 0.3);
    --color-mensage-text-sucess: #28A745;
    --color-mensage-text-error: #A34743;
    --color-button-edit: #744d41;
    
}